/* main text color: #757575 */
/* text secondary color: #212121 */
/* accent color: #2196F3 */
/* background tertialy color: #2F303A */
/* background secondary color: #F5F4FA */
/* white: #FFFFFF */
/* email and tel white: rgba(255, 255, 255, 0.6) */
/* projects border color: #EEEEEE */
/* icon default color: #afb1b8 */


:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent: #2196F3;
    --white: #FFFFFF;
    --secondary-white: rgba(255, 255, 255, 0.6);
    --black: #000000;
    --secondary-bg-color: #F5F4FA;
    --tertialy-bg-color: #2F303A;
    --border-color: #EEEEEE;
    --secondary-border-color: #ECECEC;
    --icon-default-color: #afb1b8;
    --hover-button-color: #188CE8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    background-color: var(white);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Header*/
.logo{
    margin-right: 93px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-first-part,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent);
}
.logo-second-part{
    color: var(--black);
}
.site-nav, 
.contacts, 
.main-nav,
.nav-line{
    display: flex;
    justify-content: space-between;
}
.main-nav,
.nav-line{
    align-items: center;
}
.site-nav .item + .item,
.contacts .item + .item{
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}
.contacts .link{
    display: flex;
    justify-content: space-between;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}
.contacts-icon{
    margin-right: 10px;
    fill: currentColor;
}
.link.current{
    position: relative;
}
.link.current::after{
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent);
}

/*Main*/
.hero{
    text-align: center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--tertialy-bg-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/Optimized/jpeg/hero-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero .container{
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.hero-button{
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    color: var(--white);
    background-color: var(--accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.8);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 528px;
    height: 581px;

    background-color: var(--white);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
}
.close-window{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;

    transition: fill 250ms var(--timing-function)
}
.close-window:hover .close-icon{
    fill: var(--accent)
}
.form{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    margin-top: 2px;
    margin-bottom: 2px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}
.form-field {
    position: relative;
    margin-top: 28px;
} 
.form-label{
    position: absolute;
    top: -18px;
    left:0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.form-icon{
    position: absolute;
    top: 50%;
    left:12px;
    transform: translateY(-50%);
    fill: var(--black);

    transition: fill 250ms var(--timing-function)
}
.form-input{
    outline: none;
    margin: 0;
    padding: 11px 12px 11px 42px;
    width: 100%;

    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    transition: border 250ms var(--timing-function)
}
.form-input:focus-within{
    border: 1px solid var(--accent);
}
.form-input:focus-within +.form-icon{
    fill: var(--accent);
}
.comment-input{
    padding: 12px 16px;
}
textarea{
    resize: none;
}
.form-field textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.policy-checkbox{
    margin-top: 20px;
    text-align: center;
}
.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.policy-checkbox{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.policy-label::before{
    content: "";

    display: inline-flex;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid var(--black);
    border-radius: 2px;

    transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    background-image 250ms var(--timing-function),
    background-size 250ms var(--timing-function),
    background-origin 250ms var(--timing-function)
}
.checkbox:checked + .policy-label::before{
    border-color: var(--accent);
    background-color: var(--accent);
    background-image: url(../images/Optimized/svg/icon-check1.svg);
    background-size: contain;
    background-origin: border-box;
}
.policy-label{
    font-size: 14px;
    line-height: 1.71;
}
.policy-link{
    text-decoration-line: underline;
    color: var(--accent);
}
.submit-button{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    transition: background-color 250ms var(--timing-function)
}
.submit-button:hover{
    background-color: var(--hover-button-color);
}
.section-title{
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.our-features{
    padding-top: 94px;
}
.features{
    display: flex;
}
.features .list-item + .list-item,
.what-we-do .list-item + .list-item,
.our-team-members .list-item + .list-item{
    margin-left: 30px;
}
.features .list-item{
    width: calc((100% - 90px) / 4);
}
.icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}
.features .title{
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .description{
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}
.what-we-do,
.our-team-members{
    display: flex;
    text-align: center;
}
.what-we-do .list-item{
    width: calc((100% - 60px) / 3);
    position: relative;
}
.what-we-do .label{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 27px;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    color: var(--white);
}
.what-we-do .list-item::before{
    content: "";
    display: inline-block;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.our-services,
.our-people,
.our-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team{
    background-color: var(--secondary-bg-color);
}
.our-team-members .list-item{
    width: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.team-member-details{
    background-color: var(--white);
    padding: 30px;
}
.team-member{
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.team-member-position{
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
}
.social-networks{
    display: flex;
}
.social-networks li + li{
    margin-left: 10px;
}
.clients-logos{
    display: flex;
}
.clients-logos li + li{
    margin-left: 30px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-default-color);

    transition: background-color 250ms var(--timing-function), 
    color 250ms var(--timing-function);
}
.social-link:hover{
    background-color: var(--accent);
    color: var(--white);
}
.link-icon{
    fill: currentColor;
}
.social-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--timing-function);
}
.social-link-footer:hover{
    background-color: var(--accent);
}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    color: var(--icon-default-color);
    border: 1px solid var(--icon-default-color);
    cursor: pointer;

    transition: color 250ms var(--timing-function), 
    border 250ms var(--timing-function);
}
.client:hover{
    color: var(--accent);
    border: 1px solid var(--accent);
}

/* Footer*/
.footer{
    background-color: var(--tertialy-bg-color);
}
.footer-line{
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}
.address-block{
margin-right: 70px;
}
.footer .logo-second-part{
    color: var(--white);
}
.address{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    font-style: normal; 
}
.phys-address{
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;
}
.email, .phone{
    display: inline-block;
    margin-top: 9px;

    color: var(--secondary-white);
    font-size: 14px;
    line-height: 1.71;
}
.footer .link{
    transition: color 250ms var(--timing-function);
}
.footer .link:hover,
.footer .link:focus{
    color: var(--accent);
}
.join-us{
    width: 206px;
    height: 80px;
}
.join{
    margin-top: 0;
    margin-bottom: 20px;
    
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.form-footer p{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
}
.form-input-footer{
    outline: none;
    margin-top: 20px;
    margin-right: 12px;
    padding: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--tertialy-bg-color);
    color: var(--white);
    cursor: pointer;
}
.form-footer{
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
}
.subscribe-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe-icon{
    margin-left: 10px;
}

/*Portfolio*/
.header-portfolio{
    border-bottom: 1px solid var(--secondary-border-color);
}
.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters .item + .item{
    margin-left: 8px;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: background-color 250ms var(--timing-function), 
    color 250ms var(--timing-function), 
    box-shadow 250ms var(--timing-function);
}
.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio{
    padding-bottom: 94px;
    padding-top: 94px;
}
.project-examples{
    display: flex;
    flex-wrap: wrap;
}
.project-examples .item{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.project-examples .item:nth-child(3n){
    margin-right: 0;
}
.project-examples .item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.project-examples h2{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-card{
    display: block;
    
    transition: box-shadow 250ms var(--timing-function);
}
.project-card:hover{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.overlay{
    position: relative;
}
.project-description{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white);
    
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}
.project-card:hover .project-description{
    opacity: 1;   
}
.overlay::before{
    content: "";
    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}
.project-card:hover .overlay::before{
    transform: translateY(0);
}
.overlay{
    overflow: hidden;
} 
.project-type{
    margin-top: 4px;
    margin-bottom: 0;
    
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}
.project-details{
    padding: 20px 24px;
    background-color: var(--white);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
